<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/template/shortcut_icon.ico">
    <title></title>

    <link href="/stylesheets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/template/css/style.css" rel="stylesheet">
    <link href="/stylesheets/template/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin This Page -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
    <!-- End Plugins This Page -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .title {
            font-family: 'Rampart One', cursive;
        }
    </style>
</head>

<body>
    <section style="background-color: whitesmoke;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-lg-5 pl-0 mb-0">
                    <div
                        style="width: 100%;height:100vh;background-color: ;display: flex;justify-content: center;align-items: center;">
                        <div style="width: 100%;background-color: ;padding: 30px 60px;">
                            <h1 class="text-center title" style="font-size: 48px;"><strong>E - OFFICE</strong></h1>
                            <h3 class="text-center title"><strong>KABUPATEN SUKOHARJO</strong></h3>
                            <hr>
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Username</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <a href="/dashboard" type="submit" class="btn btn-primary">Login</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-lg-7 pl-0 mb-0">
                    <div style="width: 100%;height:100vh;background-color: wheat;">
                        <img src="/images/template/gedung-terpadu.jpg" alt="" style="width: 100%;height: 100vh;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/javascripts/template/jquery.min.js"></script>
    <script src="/javascripts/template/bootstrap.bundle.min.js"></script>
    <!-- Plugins This Page -->
    <!-- End Plugins This Page -->
    <script type="text/javascript">

    </script>
</body>

</html>