<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit Data RTLH</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_basic">Data</a></li>
        <li class="active">Edit Data</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="#" method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label>Nama</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="" id="">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Alamat</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="" id="">
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label>Bukti Kepemilikan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <!-- <input type="text" class="form-control" name="" id=""> -->
                      <select name="" id="" class="form-control">
                        <option value="">HM</option>
                        <option value="">HGB</option>
                        <option value="">Letter C</option>o
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Luas Bangunan Rumah</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="" id="">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Jumlah Penghuni Rumah</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="" id="">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <hr>
                </div>

                <div class="form-group">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th colspan="3">Kriteria Keselamatan Bangunan</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td style="width: 30px;">1.</td>
                        <td style="width: 400px;">Struktur Bawah (Pondasi)</td>
                        <td>
                          <select name="" id="" class="form-control">
                            <option value="">Rusak</option>
                            <option value="">Normal</option>
                          </select>
                        </td>
                      </tr>

                      <tr>
                        <td style="width: 30px;">2.</td>
                        <td>Struktur Tengah (Dinding)</td>
                        <td>
                          <select name="" id="" class="form-control">
                            <option value="">Rusak</option>
                            <option value="">Normal</option>
                          </select>
                        </td>
                      </tr>

                      <tr>
                        <td style="width: 30px;">3.</td>
                        <td>Struktur Atas (Atap)</td>
                        <td>
                          <select name="" id="" class="form-control">
                            <option value="">Rusak</option>
                            <option value="">Normal</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>


                <div class="form-group">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th colspan="3">Kriteria Kesehatan Penghuni</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td style="width: 30px;">1.</td>
                        <td style="width: 400px;">Jendela</td>
                        <td>
                          <select name="" id="" class="form-control">
                            <option value="">Ada</option>
                            <option value="">Tidak</option>
                          </select>
                        </td>
                      </tr>

                      <tr>
                        <td style="width: 30px;">2.</td>
                        <td>Ventilasi</td>
                        <td>
                          <select name="" id="" class="form-control">
                            <option value="">Ada</option>
                            <option value="">Tidak</option>
                          </select>
                        </td>
                      </tr>

                      <tr>
                        <td style="width: 30px;">3.</td>
                        <td>Kamar Mandi</td>
                        <td>
                          <select name="" id="" class="form-control">
                            <option value="">Ada</option>
                            <option value="">Tidak</option>
                          </select>
                        </td>
                      </tr>

                      <tr>
                        <td style="width: 30px;">4.</td>
                        <td>Sumber Air Minum / Bersih</td>
                        <td>
                          <select name="" id="" class="form-control">
                            <option value="">Ada</option>
                            <option value="">Tidak</option>
                          </select>
                        </td>
                      </tr>

                      <tr>
                        <td style="width: 30px;">5.</td>
                        <td>Saluran Pembuangan Limbah</td>
                        <td>
                          <select name="" id="" class="form-control">
                            <option value="">Ada</option>
                            <option value="">Tidak</option>
                          </select>
                        </td>
                      </tr>

                      <tr>
                        <td style="width: 30px;">6.</td>
                        <td>Listrik</td>
                        <td>
                          <select name="" id="" class="form-control">
                            <option value="">Ada</option>
                            <option value="">Tidak</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                
 
                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021</span>
        <span>Pemerintah</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">

</script>