<% include ../../../template-backoffice/user/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit Password</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/user">Data User</a></li>
        <li class="active">Edit Data</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header header-line">
          <!-- Notifikasi -->
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="col-md-12">

              <!-- Start form -->
              <form role="form" action="/user/submit_edit_password" method="POST" >
                <input type="hidden" class="form-control" id="" name="id_user" value="<%= data[0]['id_user'] %>">
                <div class="form-group">
                  <label>Silahkan Masukkan Password Baru Anda</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="password" class="form-control" id="" name="pwd" >
                    </div>
                  </div>
                </div>

                

                
                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </form>
              <!-- End start form -->

            </div>
          </div>         
        </div>
      </div>
    </div>  
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021</span>
        <span>Pemerintah Kabupaten Sukoharjo | Badan Perencanaan, Penelitian, dan Pengembangan Daerah</span>.

      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../../template-backoffice/user/footer.ejs %>